body{
    background-color: rgb(221, 113, 179);
}

.container{
     border: 1px solid black; 
    height: 200px;
    width: 300px;
    background-color: white;
    margin-top: 250px;
    margin-left: 600px;


}
.content{
    
    background-color: red ;
    width: 100px;
    height: 100px;
    border-radius: 50px;    
    margin-top: 45px;
    margin-left: 100px;

  
}

